body {
    font-family: 'Raleway', sans-serif;
    background-color: #F0E9E3;
}

.navbar {
    margin-top: 5vh;
}

.search-form {
    margin-left: 40vw;
}

.list-of-results {
    list-style-type: none;
    border-bottom: 1px solid gray;
    padding: 15px;
    
}

.searched-container {
    margin-left: 32vw;
    width: fit-content;
    text-align: center;
}

.spinner-border {
    margin-left: 47vw;
    margin-top: 5vh;
}

.form-control {
    background-color: #f2f2f2;
}
a {
    text-decoration: none;
    color: #617658;
}

a:hover {
    color: #2D3629;
    font-weight: bolder;
}